# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/backups

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# environment files and secrets
.env
.env.*
!.env.example
!.env.production.example

# typescript
*.tsbuildinfo
next-env.d.ts
/.vercel

# caches
**/.npm-cache/
**/node_modules/
**/.next/
**/.cache/
**/test-results/
**/playwright-report/
